<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Campaña de Sustentabilidad</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>



    <div class="container mt-5 position-relative">
        <img src="https://virtual4.tech/wp-content/uploads/2022/08/realidad-virtual-medio-ambiente-oceanos-cuidado-de-la-tierra-1024x415.jpg"
            alt="Imagen Centralizada" class="img-fluid" style="width: 100%; margin-bottom: 10px;">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
            <h2>CAMPAÑA DE SUSTENTABILIDAD</h2>
            <p>
                <strong>"Conéctate con la Naturaleza: Realidad Virtual para la Conservación"</strong>
            </p>
            <p>
                Esta campaña tiene como objetivo utilizar la tecnología de realidad virtual para sensibilizar a las
                personas
                sobre la importancia de la conservación de la vida silvestre y promover la sustentabilidad en la
                interacción
                humana con el medio ambiente. En particular, se enfoca en los santuarios de animales como espacios de
                protección y rehabilitación para especies en peligro de extinción o víctimas de maltrato.
            </p>
            <p>
                <strong>"Explora, Aprende y Protege: Únete a la Revolución de la Conservación Virtual"</strong>
            </p>
        </div>
    </div>


    <!-- Cards -->
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-4">
                <img src="https://inspark.com.mx/cdn/shop/files/Fobia_Xperience.jpg?v=1695858443&width=400"
                    class="card-img-top img-fluid" alt="Card 1">
                <div class="card-body">
                    <h5 class="card-title">Título de la Card 1</h5>
                    <p class="card-text">Información sobre la Card 1.</p>
                </div>
            </div>
            <div class="col-md-4">

                <img src="https://inspark.com.mx/cdn/shop/files/Ala_Delta.jpg?v=1695858386&width=400"
                    class="card-img-top img-fluid" alt="Card 2">
                <div class="card-body">
                    <h5 class="card-title">Título de la Card 2</h5>
                    <p class="card-text">Información sobre la Card 2.</p>

                </div>
            </div>
            <div class="col-md-4">

                <img src="https://inspark.com.mx/cdn/shop/files/Beat_Saber.jpg?v=1695858405&width=400"
                    class="card-img-top img-fluid" alt="Card 3">
                <div class="card-body">
                    <h5 class="card-title">Título de la Card 3</h5>
                    <p class="card-text">Información sobre la Card 3.</p>

                </div>
            </div>
            <!-- Fila 2 -->
            <div class="col-md-4 mt-3">

                <img src="https://inspark.com.mx/cdn/shop/files/Creed.jpg?v=1695858444&width=400"
                    class="card-img-top img-fluid" alt="Card 4">
                <div class="card-body">
                    <h5 class="card-title">Título de la Card 4</h5>
                    <p class="card-text">Información sobre la Card 4.</p>
                </div>

            </div>
            <div class="col-md-4 mt-3">

                <img src="https://inspark.com.mx/cdn/shop/files/Infinity_Room.jpg?v=1695858448&width=400"
                    class="card-img-top img-fluid" alt="Card 5">
                <div class="card-body">
                    <h5 class="card-title">Título de la Card 5</h5>
                    <p class="card-text">Información sobre la Card 5.</p>
                </div>

            </div>
            <div class="col-md-4 mt-3">

                <img src="https://inspark.com.mx/cdn/shop/files/Fobia_Xperience.jpg?v=1695858443&width=400"
                    class="card-img-top img-fluid" alt="Card 6">
                <div class="card-body">
                    <h5 class="card-title">Título de la Card 6</h5>
                    <p class="card-text">Información sobre la Card 6.</p>
                </div>

            </div>
        </div>
    </div>

    <!-- Menú con logotipos en la parte inferior -->
    
    <div class="mt-5">
        <nav class="navbar navbar-dark bg-success mt-5">
            <div class="container">
                <footer class="text-center">
                    <p>&copy; 2024 Proyecto de Realidad Virtual para la Conservación</p>
                </footer>
            </div>
        </nav>
    </div>
    <!-- Bootstrap JS y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>