<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Información de Contacto</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container mt-5">
        <h2 class="text-center">Información de Contacto</h2>

        <p class="text-center">
            <strong>"Conéctate con la Persona: Encuéntrala en Redes Sociales"</strong>
        </p>

        <p class="text-center">
            Aquí puedes encontrar información de contacto de la persona en diversas plataformas. Si deseas
            comunicarte con ella, puedes hacerlo a través de las siguientes redes sociales.
        </p>

        <p class="text-center">
            <strong>"Conectar y Comunicar: Encuentra a la Persona en las Redes Sociales"</strong>
        </p>

        <!-- Información de contacto adicional -->
        <div class="text-center mt-3">
            <p>Lago Zurich esq. Cervantes Saavedra Polanco, Miguel Hidalgo, CDMX.</p>
            <p>Email: <a href="mailto:info@inspark.com.mx">info@inspark.com.mx</a></p>
            <p>Teléfono: 55-6132-3413</p>
        </div>

        <!-- Información de eventos corporativos -->
        <div class="text-center mt-3">
            <p>Para eventos corporativos:</p>
            <p>Email: <a href="mailto:raquel@inspark.com.mx">raquel@inspark.com.mx</a></p>
            <p>Teléfono: 55-2969-9032</p>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <!-- Agrega aquí los enlaces a las redes sociales con íconos -->
                <a href="https://www.instagram.com/" target="_blank" class="text-primary m-2">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank" class="text-primary m-2">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="text-primary m-2">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <!-- Agrega más redes sociales según sea necesario -->
            </div>
        </div>
    </div>

    <!-- Menú con logotipos en la parte inferior -->

    </div>

    <!-- Bootstrap JS y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>
