<div class="container p-4">
    <div class="row">
        <!-- Imagen en el lado izquierdo -->
        <div class="col-md-5 mx-auto">
            <img src="https://inspark.com.mx/cdn/shop/files/Experiencia2.png?v=1695409257&width=750" alt="Imagen Izquierda" class="img-fluid" style="margin-right: 15px;">
        </div>

        <!-- Formulario en el lado derecho -->
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">REGISTRAR</h3>
                </div>
                <div class="card-body">
                    <form action="/add" method="post">
                    
                            <div class="mb-3 row">
                                <label for="fullname" class="col-sm-4 col-form-label text-sm-end">Nombre Completo</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" name="fullname" id="fullname" placeholder="Nombre Completo" autofocus required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="email" class="col-sm-4 col-form-label text-sm-end">Correo Electrónico</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="email" name="email" id="email" placeholder="Correo Electrónico" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="phone" class="col-sm-4 col-form-label text-sm-end">Número de Teléfono</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="tel" name="phone" id="phone" placeholder="Número de Teléfono" required>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="password" class="col-sm-4 col-form-label text-sm-end">Contraseña</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña" required>
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-sm-8 offset-sm-4">
                                    <button class="btn btn-success bg-gradient-to-r from-purple-600 via-purple-400 to-blue-500 text-white px-4 py-2 font-bold rounded-md hover:opacity-80"
                                        type="submit">Registrar</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    

   